@import "../../variables";

.header {
  border-bottom: $border1;
  max-height: $header-height1;
  min-height: $header-height1;
  overflow: visible;
  padding: $padding1;
  position: absolute;
  width: 100vw;
  .header-logo-container {
    display: flex;
    align-items: center;
    .header-logo {
      height: auto;
      max-width: 70px;
    }
    .header-title {
      margin-left: 14px;
      font-size: 60px;
    }
  }
  .header-links {
    display: flex;
    justify-content: space-between;
    .header-main-links {
      display: flex;
      gap: 14px;
      justify-content: space-between;
    }
    .header-contact-links {
      .header-contact-links-tab {
        color: $colour4;
        cursor: pointer;
        font-size: 21px;
        font-weight: bold;
      }
      .header-contact-links-dropdown {
        display: flex;
        flex-direction: column;
        height: 0;
        justify-content: space-between;
        overflow: hidden;
        position: absolute;
        transition: height $transition1 ease-in-out;
      }
    }
    .header-contact-links:hover {
      .header-contact-links-dropdown {
        height: 420px;
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .header {
    max-height: $header-height2;
    min-height: $header-height2;
    .header-logo-container .header-title {
      margin-left: 7px;
      font-size: 42px;
    }
  }
}
