@import "../../variables";

.about-container {
  padding: $padding1;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  gap: $padding1;
  margin-top: 14px;
  overflow: hidden;
}

.contact-form {
  @include align-centre;
  margin-top: $gap1;
  max-width: 600px;
  width: 100%;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: $padding1;
  overflow: hidden;
}

.reviews-container {
  height: 100%;
}

@media only screen and (max-width: 769px) {
}
