// colours
$colour1: #3b2f2f;
$colour2: #fffffc;
$colour3: #128482;
$colour4: #d0491e;

// borders
$border-width1: 2px;
$border1: $border-width1 solid $colour3;
$border2: $border-width1 solid $colour1;

// dimensions
$header-height1: 120px;
$header-height2: 105px;

// flourishes
$border-radius1: 7px;
$box-shadow1: 0 4px 7px
    rgba(
      $color: $colour1,
      $alpha: 0.42,
    ),
  0 -4px 7px rgba(
      $color: $colour1,
      $alpha: 0.42,
    );

//  fonts
@font-face {
  font-family: "futura";
  src: url("./media/fonts/FuturaPTLight.otf");
}
$font1: "futura";
$font2: "Roboto", sans-serif;

// padding
$gap1: 7px;
$padding1: $gap1 2%;

// transition
$transition1: 0.6s;

@mixin align-centre {
  margin-left: 50%;
  transform: translateX(-50%);
}
