@import "variables";

* {
  box-sizing: border-box;
  color: $colour1;
  font-family: $font2;
  font-style: none;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: $gap1;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: $colour3;
  border-radius: 3px;
}

.app {
  background-blend-mode: screen;
  background-color: rgba($color: $colour2, $alpha: 0.9);
  background-image: url("./media/images/background.png");
  background-position: center;
  background-size: cover;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 769px) {
}

h1,
h2,
h3 {
  font-family: $font1;
}
