@import "../../variables";

.route {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  .route-padding {
    max-height: $header-height1;
    min-height: $header-height1;
  }
  .route-container {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: $padding1;
    .route-title {
      font-size: 42px;
      position: absolute;
      z-index: 3;
    }
    .route-content {
      overflow: hidden;
      padding-top: 50px;
    }
  }
}

.about-section {
  .about-section-title {
    color: $colour3;
    font-size: 35px;
    margin-bottom: 14px;
  }
  .about-section-text {
    font-size: 21px;
    margin-bottom: 42px;
  }
}
.about-image-container {
  height: 600px;
  margin-bottom: 42px;
  width: 100%;
  position: relative;
  .about-frame,
  .about-image {
    @include align-centre;
    position: absolute;
  }
  .about-frame {
    left: 0;
    top: 0;
    z-index: 2;
  }
  .about-image {
    top: 50px;
    width: 500px;
    z-index: 1;
  }
}
.about-section1 {
  max-width: 700px;
}
.about-section2 {
  margin-left: auto;
  max-width: 700px;
  text-align: right;
}
.about-section4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 21px;
  .about-section4-left {
    .about-avatar {
      @include align-centre;
      border: $border1;
      border-radius: 50%;
      min-width: 280px;
      max-width: 280px;
      width: 100%;
      z-index: 1;
    }
  }
  .about-section4-right {
    .about-section-title,
    .about-section-text {
      text-align: center;
    }
  }
}
.about-section5 {
  @include align-centre;
  margin-bottom: 42px;
  max-width: 600px;
  width: 100%;
  .about-section-title,
  .about-section-text {
    text-align: center;
  }
  .about-section-text {
    margin-bottom: 14px;
  }
  .about-contact-grid {
    @include align-centre;
    width: 420px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .about-contact-grid-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      min-width: 80px;
      .about-contact-text {
        color: $colour3;
        font-size: 18px;
        margin-bottom: $gap1;
      }
      .about-contact-link {
        .about-contact-icon {
          width: 60px;
        }
      }
    }
  }
}

.screen-message {
  padding: $padding1;
  padding-top: $header-height1;
}

.button {
  background-color: $colour3;
  border-color: $colour1;
  border-radius: $border-radius1;
  border-style: solid;
  border-width: $border-width1;
  color: $colour1;
  cursor: pointer;
  font-size: 21px;
  padding: $gap1;
  text-align: center;
  transition: border-color $transition1 ease-in-out,
    color $transition1 ease-in-out;
  width: 100%;
}
.button-active {
  border-color: $colour3;
  color: $colour2;
  transition: background-color $transition1 ease-in-out,
    color $transition1 ease-in-out;
}
.button-active:hover {
  background-color: $colour2;
  color: $colour3;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: $gap1;
  .input-label {
    font-size: 21px;
    font-weight: bold;
  }
  .input-box {
    border: $border1;
    border-radius: $border-radius1;
    font-size: 18px;
    padding: $padding1;
    width: 100%;
  }
  .input2-box {
    min-height: 210px;
  }
}

.link {
  cursor: pointer;
}
.link-1 {
  border-color: rgba($color: $colour3, $alpha: 0);
  border-style: solid;
  border-width: 0 0 $border-width1 0;
  color: $colour3;
  font-size: 21px;
  transition: border-color $transition1 ease-in-out;
}
.link-1-contact {
  border-color: rgba($color: $colour3, $alpha: 0);
  color: $colour4;
  font-weight: bold;
}
.link-1:hover {
  border-color: rgba($color: $colour4, $alpha: 1);
}
.link-1-contact:hover {
  border-color: rgba($color: $colour3, $alpha: 1);
}

.link-2 {
  overflow: visible;
  .link-2-icon {
    margin-left: 28px;
    width: 42px;
  }
}

.card {
  margin: 0 auto;
  width: 300px;
  .card-header {
    .card-title {
      font-size: 35px;
    }
    .card-subtitle {
      font-size: 18px;
      margin: 0 0 $padding1 0;
      padding-left: $padding1;
    }
  }
  .card-image-container {
    position: relative;
    .card-frame {
      width: 100%;
    }
    .card-image {
      left: 6%;
      top: 8%;
      position: absolute;
      width: 88%;
    }
  }
  .card-main {
    .card-text {
      border-bottom: $border1;
      max-height: 140px;
      overflow: hidden;
      padding: $padding1;
      text-align: justify;
    }
    .card-buttons {
      display: grid;
      grid-gap: $gap1;
      grid-template-columns: 1fr 1fr;
      .card-button-container {
        display: flex;
        flex-direction: column;
        padding-top: $gap1;
        .card-button-text {
          font-style: italic;
          text-align: center;
        }
        .card-button {
          border-radius: $border-radius1;
          border-style: solid;
          border-width: $border-width1;
          color: $colour2;
          padding: $gap1 0;
          text-align: center;
          transition: background-color $transition1 ease-in-out,
            color $transition1 ease-in-out;
        }
        .card-button-red {
          background-color: $colour4;
          border-color: $colour4;
        }
        .card-button-green {
          background-color: $colour3;
          border-color: $colour3;
        }
        .card-button-red:hover,
        .card-button-green:hover {
          background-color: $colour2;
        }
        .card-button-red:hover {
          color: $colour4;
        }
        .card-button-green:hover {
          color: $colour3;
        }
      }
    }
  }
}

.card2 {
  display: grid;
  grid-gap: $gap1;
  grid-template-columns: 45% 55%;
  margin-top: $gap1;
  .card2-image-box {
    .card2-image-container {
      position: relative;
      .card2-frame {
        width: 100%;
      }
      .card2-image {
        left: 6%;
        position: absolute;
        top: 8%;
        width: 88%;
      }
    }
    .card2-buttons {
      display: flex;
      gap: $gap1;
      .card2-button-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .card2-button-text {
          font-style: italic;
          text-align: center;
        }
        .card2-button {
          border-radius: $border-radius1;
          border-style: solid;
          border-width: $border-width1;
          color: $colour2;
          padding: $padding1;
          text-align: center;
          transition: background-color $transition1 ease-in-out,
            color $transition1 ease-in-out;
        }
        .card2-button-red {
          background-color: $colour4;
          border-color: $colour4;
        }
        .card2-button-green {
          background-color: $colour3;
          border-color: $colour3;
        }
        .card2-button-red:hover {
          background-color: $colour2;
          color: $colour4;
        }
        .card2-button-green:hover {
          background-color: $colour2;
          color: $colour3;
        }
      }
    }
  }
  .card2-main {
    .card2-main-subtitle {
      border-bottom: $border2;
      color: $colour3;
      font-size: 28px;
      padding-left: $padding1;
    }
    .card2-text {
      font-size: 21px;
      padding: $padding1;
      text-align: justify;
    }
  }
}

.card3 {
  margin: 0 auto $gap1 auto;
  max-width: 600px;
  .card3-image-container {
    border-bottom: $border1;
    border-radius: $border-radius1 $border-radius1 0 0;
    max-height: 140px;
    overflow: hidden;
  }
  .card3-body {
    .card3-body-header {
      padding: $padding1;
      .card3-title {
        font-size: 35px;
      }
      .card3-date {
        color: $colour4;
        font-style: italic;
        margin-left: $padding1;
      }
    }
    .card3-text-body {
      font-size: 18px;
      max-height: 210px;
      overflow: hidden;
      padding: $padding1;
      .card3-text {
        text-align: justify;
      }
    }
  }
  .card3-buttons {
    align-items: flex-start;
    display: flex;
    height: 45px;
    justify-content: flex-end;
    .card3-button {
      background-color: $colour3;
      border: $border1;
      border-radius: $border-radius1;
      color: $colour2;
      cursor: pointer;
      margin-top: 6px;
      padding: $padding1;
      text-align: center;
      transition: background-color $transition1 ease-in-out,
        color $transition1 ease-in-out;
      width: 140px;
    }
    .card3-button:hover {
      background-color: $colour2;
      color: $colour3;
    }
  }
}

.card4 {
  margin-top: -35px;
  .card4-image-container {
    min-height: 420px;
    max-height: 420px;
    overflow: hidden;
    position: relative;
    width: 420px;
    @include align-centre;
    .card4-frame {
      position: absolute;
      width: 420px;
    }
    .card4-image {
      left: 35px;
      top: 35px;
      position: absolute;
      width: 350px;
    }
  }
  .card4-title {
    font-size: 42px;
    text-align: center;
  }
  .card4-date {
    color: $colour4;
    font-size: 21px;
    font-style: italic;
    margin-left: $padding1;
    text-align: center;
  }
  .card4-text {
    font-size: 18px;
    padding: $padding1;
    text-align: justify;
  }
}

.review {
  .review-image-container {
    @include align-centre;
    width: 420px;
    .review-frame {
      width: 100%;
    }
    .review-image {
      left: 7%;
      position: absolute;
      top: 7%;
      width: 86%;
    }
  }
}

@media only screen and (max-width: 769px) {
  .link-1 {
    font-size: 18px;
  }

  .route .route-padding {
    max-height: $header-height2;
    min-height: $header-height2;
  }

  .about-section {
    .about-section-title {
      font-size: 28px;
      margin-bottom: 7px;
    }
    .about-section-text {
      font-size: 18px;
      margin-bottom: 28px;
    }
  }
  .about-image-container {
    height: 210px;
    margin-bottom: 28px;
    width: 100%;
    .about-frame,
    .about-image {
      position: absolute;
    }
    .about-frame {
      left: 0;
      top: 0;
      z-index: 2;
      width: 210px;
    }
    .about-image {
      left: 0;
      top: 15px;
      width: 180px;
      z-index: 1;
    }
  }
  .about-section4 {
    grid-template-columns: 1fr;
    margin-bottom: 7px;
  }
  .about-section5 {
  }
  .about-section5 {
    margin-bottom: 28px;
    .about-contact-grid {
      @include align-centre;
      width: 300px;
      .about-contact-grid-item {
        min-width: 60px;
        .about-contact-text {
          font-size: 14px;
        }
        .about-contact-link {
          .about-contact-icon {
            width: 42px;
          }
        }
      }
    }
  }

  .card2 {
    grid-template-columns: 1fr;
  }

  .card3 {
    max-width: 300px;
    .card3-image-container {
      max-height: 100px;
    }
    .card3-body {
      .card3-body-header {
        .card3-title {
          font-size: 35px;
        }
      }
      .card3-text-body {
        max-height: 210px;
      }
    }
  }

  .card4 {
    margin-top: -35px;
    .card4-image-container {
      min-height: 320px;
      max-height: 320px;
      overflow: hidden;
      position: relative;
      width: 320px;
      @include align-centre;
      .card4-frame {
        position: absolute;
        width: 320px;
      }
      .card4-image {
        left: 25px;
        top: 25px;
        position: absolute;
        width: 270px;
      }
    }
  }
}
