@import "../../variables";

.route {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .route-padding {
    max-height: $header-height1;
    min-height: $header-height1;
  }
  .route-container {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: $padding1;
    .route-title {
      font-size: 42px;
      position: absolute;
      z-index: 3;
    }
    .route-content {
      overflow: hidden;
      padding-top: 50px;
    }
  }
}

.button {
  background-color: $colour3;
  border-color: $colour1;
  border-radius: $border-radius1;
  border-style: solid;
  border-width: $border-width1;
  color: $colour1;
  cursor: pointer;
  font-size: 21px;
  padding: $gap1;
  text-align: center;
  transition: border-color $transition1 ease-in-out,
    color $transition1 ease-in-out;
  width: 100%;
}
.button-active {
  border-color: $colour3;
  color: $colour2;
  transition: background-color $transition1 ease-in-out,
    color $transition1 ease-in-out;
}
.button-active:hover {
  background-color: $colour2;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: $gap1;
  .input-label {
    font-size: 21px;
    font-weight: bold;
  }
  .input-box {
    border: $border1;
    border-radius: $border-radius1;
    font-size: 18px;
    padding: $padding1;
    width: 100%;
  }
  .input2-box {
    min-height: 210px;
  }
}

.link {
  cursor: pointer;
}
.link-1 {
  border-color: rgba($color: $colour3, $alpha: 0);
  border-style: solid;
  border-width: 0 0 $border-width1 0;
  color: $colour3;
  font-size: 21px;
  transition: border-color $transition1 ease-in-out;
}
.link-1-contact {
  border-color: rgba($color: $colour3, $alpha: 0);
  color: $colour4;
  font-weight: bold;
}
.link-1:hover {
  border-color: rgba($color: $colour4, $alpha: 1);
}
.link-1-contact:hover {
  border-color: rgba($color: $colour3, $alpha: 1);
}

.card {
  margin: 0 auto;
  width: 300px;
  .card-header {
    .card-title {
      font-size: 35px;
    }
    .card-subtitle {
      font-size: 18px;
      margin: 0 0 $padding1 0;
      padding-left: $padding1;
    }
  }
  .card-image-container {
    .card-image {
      border-radius: $border-radius1;
      width: 100%;
    }
  }
  .card-main {
    .card-text {
      border-bottom: $border1;
      max-height: 140px;
      overflow: hidden;
      padding: $padding1;
      text-align: justify;
    }
    .card-buttons {
      display: grid;
      grid-gap: $gap1;
      grid-template-columns: 1fr 1fr;
      .card-button-container {
        display: flex;
        flex-direction: column;
        padding-top: $gap1;
        .card-button-text {
          font-style: italic;
          text-align: center;
        }
        .card-button {
          border-radius: $border-radius1;
          border-style: solid;
          border-width: $border-width1;
          color: $colour2;
          padding: $gap1 0;
          text-align: center;
          transition: background-color $transition1 ease-in-out,
            color $transition1 ease-in-out;
        }
        .card-button-red {
          background-color: $colour4;
          border-color: $colour4;
        }
        .card-button-green {
          background-color: $colour3;
          border-color: $colour3;
        }
        .card-button-red:hover,
        .card-button-green:hover {
          background-color: $colour2;
        }
        .card-button-red:hover {
          color: $colour4;
        }
        .card-button-green:hover {
          color: $colour3;
        }
      }
    }
  }
}

.card2 {
  display: grid;
  grid-gap: $gap1;
  grid-template-columns: 1fr 1fr;
  .card2-image-container {
    .card2-image {
      border-radius: $border-radius1;
      width: 100%;
    }
    .card2-buttons {
      display: flex;
      gap: $gap1;
      .card2-button-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .card2-button-text {
          font-style: italic;
          text-align: center;
        }
        .card2-button {
          border-radius: $border-radius1;
          border-style: solid;
          border-width: $border-width1;
          color: $colour2;
          padding: $padding1;
          text-align: center;
          transition: background-color $transition1 ease-in-out,
            color $transition1 ease-in-out;
        }
        .card2-button-red {
          background-color: $colour4;
          border-color: $colour4;
        }
        .card2-button-green {
          background-color: $colour3;
          border-color: $colour3;
        }
        .card2-button-red:hover {
          background-color: $colour2;
          color: $colour4;
        }
        .card2-button-green:hover {
          background-color: $colour2;
          color: $colour3;
        }
      }
    }
  }
  .card2-main {
    .card2-main-subtitle {
      border-bottom: $border2;
      color: $colour3;
      font-size: 18px;
      padding-left: $padding1;
    }
    .card2-text {
      padding: $padding1;
      text-align: justify;
    }
  }
}

.card3 {
  margin: 0 auto $gap1 auto;
  max-width: 600px;
  .card3-image-container {
    border-bottom: $border1;
    border-radius: $border-radius1 $border-radius1 0 0;
    max-height: 140px;
    overflow: hidden;
  }
  .card3-body {
    .card3-body-header {
      padding: $padding1;
      .card3-title {
        font-size: 35px;
      }
      .card3-date {
        color: $colour4;
        font-style: italic;
        margin-left: $padding1;
      }
    }
    .card3-text-body {
      max-height: 210px;
      overflow: hidden;
      .card3-text {
        text-align: justify;
      }
    }
  }
  .card3-buttons {
    align-items: flex-start;
    display: flex;
    height: 45px;
    justify-content: flex-end;
    .card3-button {
      background-color: $colour3;
      border: $border1;
      border-radius: $border-radius1;
      color: $colour2;
      cursor: pointer;
      margin-top: 6px;
      padding: $padding1;
      text-align: center;
      transition: background-color $transition1 ease-in-out,
        color $transition1 ease-in-out;
      width: 140px;
    }
    .card3-button:hover {
      background-color: $colour2;
      color: $colour3;
    }
  }
}

.card4 {
  margin-top: -35px;
  .card4-image-container {
    border-radius: $border-radius1;
    max-width: 420px;
    min-width: 300px;
    width: 100%;
    @include align-centre;
    .card4-image {
      width: 100%;
    }
  }
  .card4-title {
    font-size: 42px;
    text-align: center;
  }
  .card4-date {
    color: $colour4;
    font-size: 21px;
    font-style: italic;
    margin-left: $padding1;
    text-align: center;
  }
  .card4-text {
    padding: $padding1;
    text-align: justify;
  }
}

@media only screen and (max-width: 769px) {
  .route .route-padding {
    max-height: $header-height2;
    min-height: $header-height2;
  }

  .card2 {
    grid-template-columns: 1fr;
  }

  .card3 {
    max-width: 300px;
    .card3-image-container {
      max-height: 100px;
    }
    .card3-body {
      .card3-body-header {
        .card3-title {
          font-size: 35px;
        }
      }
      .card3-text-body {
        max-height: 210px;
      }
    }
  }
}
